.header-area{
    background: linear-gradient(to right, #4776FB, #BB1CDC)
}
.uapp-btn-primary{
    background: white;
    color: #BB1CDC;
    transition: all 1s;
}
.uapp-btn-primary:hover{
    background: linear-gradient(to right, #4776FB, #BB1CDC);
    color: white;
}